/* Be careful, size of a block is width or height + padding + border + margin. So width and height are for the content box.*/ 
body {
    margin: 0;
}
header {
    font-family: 'Times New Roman', Times, sans-serif;
    background-color: white;
    margin-left: 10%;
    padding: 1%;
    width: 88%;
    border-bottom: 1px solid black;
}

#title_header {
    font-size:xx-large;
}
#sub_header {
    font-size:medium;
}


#front_article {
    text-align: justify;
    margin-right: 30%;
}

.card {
    background-color: #f2f2f2;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0;
  }

#trombi {float: right; margin: 2%; border: 1px solid black;}

.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    background-color: white;
    text-align: left;
    border-right: 1px solid black;
    font-weight: bold;
}
    
    
.body-right {
    margin-top: 0%;
    margin-left: 10%;
    padding: 1%;
    font-size: large;
}

.transparent_link{
text-decoration: none;
color: black;
}

.transparent_link:link { 
    text-decoration: none;}
.transparent_link:visited { text-decoration: none; }
.transparent_link:hover { text-decoration: none; }
.transparent_link:active { text-decoration: none; }

footer {border-top: 1px solid black;
    margin-bottom: 0%;
    border: 1%;
    padding: 0.5%;}

#footer_refs {font-size: small;}
#signature_footer {
    text-align: right;
}

h1 {
    font-size: x-large ;
}

p {
    text-align: justify;
}

/* icons media*/
/* many icons at https://fontawesome.com/v4/icons/ */

.media_buttons{
    float: right;
}

/* Style all font awesome icons */
.fa {
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;

  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.9;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook 
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter 
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }